*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

a{text-decoration: none;
color: white;}

html{font-family: 'Anek Devanagari', sans-serif;;}

/* Nav Bar */


#navbar{color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 0.75rem;
height: 70px;}

#navbar ul{list-style-type: none;
display: flex;
align-items: center;}

#navbar ul li a{padding: 0.50rem;}
#navbar ul li a:hover{ background: rgba(226, 0, 215, 0.404);;
border-radius: 4px;}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
padding: 2rem;
}

#home img{ max-width: 100%;
height: auto;
border-radius: 100%;}


#home .name{text-align: center;}
#home .name h2{margin-bottom: 0.1rem;}
#home .name p{opacity: 60%;}

#experience {color: white;
padding: 1rem;}


#experience .items {display: flex;
justify-content: space-between;
align-items: center;}


#experience .items .item {
    width: 33%; 
    text-align: center;
padding: 0.5rem;}

#projects {color: #333;
padding: 1rem;}

.courses { display: flex;
flex-direction: column;
padding: 1rem;

}

.courses .course {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.courses .course .course-image {

    margin-right: 1.5rem;
    position: relative;
}
.courses .course .course-image img{

   border-radius: 5px;
}   
.courses .course .course-image span{

  background: rebeccapurple;
  color: white;
  padding: 0.25rem;
  position: absolute;
  top: 10px;
  left: 0;
}

.courses .course .course-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.courses .course .course-info .description{
    letter-spacing: 1.2px;
       margin-bottom: 0.25rem;
       opacity: 0.6;
}


.contact-form {color: white;
padding: 1rem;}


.contact-form{max-width: 700px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;}
